

<div [class]="page">
    <div [class]="pageAdd">
        <div class="div-header-form">
            <h4>Datos de la actividad</h4>
            <div class="div-icon">
                <a type="button" (click)="closeModal()">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982"
                        style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
                        <g id="Close">
                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="data-activity">
            <div class="input"><span>Nombre:</span> <span>{{dataActivity.name}}</span></div>
            <div class="input"><span>Fecha de creación:</span> <span>{{getDate(dataActivity)}}</span></div>
        </div>
        
        <div class="div-first-data">
            <div class="div-btn-panel">
                <div class="div-btn-line" *ngIf="dataActivity.type == 'crucigrama'">
                    <div class="div-list-cell" *ngFor="let num of listVertical; let i = index">
                        <div class="input list-num">{{i+1}}</div>
                    </div>
                </div>
                <div class="div-btn-table">
                    <div class="div-list-cell" *ngFor="let num of listVertical; let i = index">
                        <div class="input list-num" *ngIf="dataActivity.type == 'crucigrama'">{{i+1}}</div>
                    </div>
                    <div *ngFor="let cells of numberCells; let i = index" class="div-list-cell">
                        <option [class]="getInput(i, cells)" value="i">{{cells}}</option>
                    </div>
                </div>
            </div>
            <div class="div-btn-panel questions" *ngIf="dataActivity.type == 'crucigrama'">
                <div class="div-vertical">
                    <h4 class="h4">Verticales</h4>
                    <div class="group-btn" *ngFor="let vertical of listVertical; let i = index" >
                        <label for="">{{i+1}}.</label>
                        <option class="input" value="i">{{vertical.question}}</option>
                    </div>
                </div>
                <div class="div-horizontal">
                    <h4 class="h4">Horizontales</h4>
                    <div class="group-btn" *ngFor="let horizontal of listHorizontal; let i = index" >
                        <label for="">{{i+1}}.</label>
                        <option class="input" value="i">{{horizontal.question}}</option>
                    </div>
                </div>
            </div>
            <div class="div-btn-panel questions" *ngIf="dataActivity.type == 'soup'">
                <div class="div-vertical">
                    <h4 class="h4">Lista de Palabras</h4>
                    <div class="group-btn" *ngFor="let word of listWord; let i = index" >
                        <label for="">{{i+1}}.</label>
                        <option class="input" value="i">{{word.question}}</option>
                    </div>
                </div>
            </div>
        </div> 

        <hr class="hr">

        <div class="group-button">
            <div class="div-btn div-btn-next">
                <input class="btn-next btn-prev" type="button" value="Cancelar" (click)="closeModal()">
                <input class="btn-next" type="button" value="Asignar" (click)="sendData()">
            </div>
        </div>

    </div>

</div>
