
<div class="footer page">
    <div class="data">
        <div class="links">
            <div class="div-header">
                <h2>Enlaces</h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a fragment="inicio" (click)="scrollTo($event)"><hr>Inicio</a></li>
                    <li><a fragment="nosotros" (click)="scrollTo($event)"><hr>Nosotros</a></li>
                    <li><a fragment="objetivos" (click)="scrollTo($event)"><hr>Objetivos</a></li>
                </ul>
            </div>
        </div>
        <div class="follow links">
            <div class="div-header">
                <h2>Síguenos</h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><hr>Github</a></li>
                    <li><a href="#"><hr>Linkedin</a></li>
                    <li><a href="#"><hr>Facebook</a></li>
                    <li><a href="#"><hr>Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="contacts links">
            <div class="div-header">
                <h2>Contáctanos</h2>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#"><hr>+57 3028982322</a></li>
                    <li><a href="#"><hr>developers&#64;gmail.com</a></li>
                    <li><a href="#"><hr>Valledupar, Cesar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr">
    <div class="author"><span>Creado Por Alexander Maestre | Desarrollador De Software</span></div>
</div>