
<app-menu-patient></app-menu-patient>

<div class="div-form">

    <app-control-panel id="inicio"></app-control-panel>

    <app-test-panel-patient id="tests"></app-test-panel-patient>

    <app-resourse-panel-patient id="resourses"></app-resourse-panel-patient>

    <app-result-panel-patient id="results"></app-result-panel-patient>

    <app-activity-panel-patient id="activities"></app-activity-panel-patient>

    <app-perfil-data-patient id="perfil"></app-perfil-data-patient>

</div>

<app-password-panel></app-password-panel>
