<div [class]="page">
    <div [class]="pageAdd">
        <div class="div-header-form">
            <h4>Grupos</h4>
            <div class="div-icon">
                <a type="button" (click)="closeModal()">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982"
                        style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
                        <g id="Close">
                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
		c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
		l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
		c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="div-header-form">
            <form class="form" [formGroup]="data">
                <div class="div-input">
                    <div class="div-btn">
                        <input class="input" type="text" name="search" required placeholder="Buscar"
                            formControlName="search" (keyup)="getGroupsByAll()">
                        <a type="button" (click)="getGroupsByAll()">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 250.313 250.313"
                                style="enable-background:new 0 0 250.313 250.313;" xml:space="preserve">
                                <g id="Search">
                                    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
            c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
            c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
            c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
            c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
            C170.146,140.044,140.043,170.146,102.911,170.146z" />
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </a>
                    </div>
                    <div class="separator"></div>
                    <div class="div-btn">
                        <a type="button" (click)="reloadList()">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44"
                                xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 44 44">
                                <path
                                    d="m22,0c-12.2,0-22,9.8-22,22s9.8,22 22,22 22-9.8 22-22-9.8-22-22-22zm-2,19c0,0.6-0.4,1-1,1h-2c-0.6,0-1-0.4-1-1v-0.7c0-0.3-0.2-0.5-0.5-0.5-0.2,0-0.3,0.1-0.4,0.2-0.7,1.2-1.1,2.6-1.1,4 0,3.5 2.2,6.5 5.4,7.5 0.4,0.1 0.6,0.5 0.6,0.9v2.1c0,0.7-0.6,1.2-1.3,1-5-1.4-8.7-6.1-8.7-11.5 0-2.7 0.9-5.2 2.4-7.2 0.2-0.2 0.1-0.5-0.1-0.7-0.1-0.1-0.2-0.1-0.3-0.1h-1c-0.6,0-1-0.4-1-1v-2c0-0.6 0.4-1 1-1h8c0.6,0 1,0.4 1,1v8zm11.6,10.2c-0.2,0.2-0.1,0.5 0.1,0.7 0.1,0.1 0.2,0.1 0.3,0.1h1c0.6,0 1,0.4 1,1v2c0,0.6-0.4,1-1,1h-8c-0.6,0-1-0.4-1-1v-8c0-0.6 0.4-1 1-1h2c0.6,0 1,0.4 1,1v0.7c0,0.3 0.2,0.5 0.5,0.5 0.2,0 0.3-0.1 0.4-0.2 0.7-1.2 1.1-2.6 1.1-4 0-3.5-2.2-6.5-5.4-7.5-0.4-0.1-0.6-0.5-0.6-0.9v-2.1c0-0.7 0.6-1.2 1.3-1 5,1.4 8.7,6.1 8.7,11.5 0,2.7-0.9,5.2-2.4,7.2z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="div-first-data">
            <app-empty-page *ngIf="!groupList.length" [title]="newTitle" [message]="newMessage"></app-empty-page>
            <ul>
                <li class="input" *ngFor="let group of groupList">
                    <div class="div-icon">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="510px" height="510px"
                            viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                            <g>
                                <g id="account-circle">
                                    <path
                                        d="M255,0C114.75,0,0,114.75,0,255s114.75,255,255,255s255-114.75,255-255S395.25,0,255,0z M255,76.5
        c43.35,0,76.5,33.15,76.5,76.5s-33.15,76.5-76.5,76.5c-43.35,0-76.5-33.15-76.5-76.5S211.65,76.5,255,76.5z M255,438.6
        c-63.75,0-119.85-33.149-153-81.6c0-51,102-79.05,153-79.05S408,306,408,357C374.85,405.45,318.75,438.6,255,438.6z" />
                                </g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </svg>
                    </div>
                    <div class="data">
                        <span class="title">{{group.name}}</span>
                        <span>{{group.description}}</span>
                    </div>
                    <div class="data">
                        <span class="title">Monitor</span>
                        <div class="group-list">
                            <span>{{group.monitor_name}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="div-btn-pagination" *ngIf="isPages()">
            <a type="button" class="arrow left" (click)="prePage()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    viewBox="240 150 100 50" style="enable-background:new 240 150 100 50;" xml:space="preserve">
                    <g id="_x32_6_Career_Advancement">
                        <g>
                            <g>
                                <path
                                    d="M266.936,117.248c-1.874-1.875-1.874-4.951,0-6.826l18.891-18.843l0.433-0.432c0.122-0.125,0.292-0.174,0.426-0.282     c0.348-0.284,0.682-0.553,1.102-0.729c0.082-0.033,0.172-0.031,0.256-0.06c0.508-0.18,1.016-0.371,1.582-0.371     c1.346,0,2.548,0.577,3.413,1.442l0.192,0.192l19.083,19.084c1.923,1.874,1.923,4.951,0,6.826     c-0.913,0.913-2.163,1.394-3.365,1.394c-1.25,0-2.451-0.481-3.413-1.394l-11.104-11.104v81.237c0,2.692-2.163,4.807-4.807,4.807     c-2.644,0-4.807-2.115-4.807-4.807v-81.237l-11.104,11.104C271.839,119.123,268.81,119.123,266.936,117.248z" />
                            </g>
                        </g>
                    </g>
                    <g id="Layer_1" />
                </svg>
            </a>
            <a type="button" class="arrow right" (click)="nextPage()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                    viewBox="240 150 100 50" style="enable-background:new 240 150 100 50;" xml:space="preserve">
                    <g id="_x32_6_Career_Advancement">
                        <g>
                            <g>
                                <path
                                    d="M266.936,117.248c-1.874-1.875-1.874-4.951,0-6.826l18.891-18.843l0.433-0.432c0.122-0.125,0.292-0.174,0.426-0.282     c0.348-0.284,0.682-0.553,1.102-0.729c0.082-0.033,0.172-0.031,0.256-0.06c0.508-0.18,1.016-0.371,1.582-0.371     c1.346,0,2.548,0.577,3.413,1.442l0.192,0.192l19.083,19.084c1.923,1.874,1.923,4.951,0,6.826     c-0.913,0.913-2.163,1.394-3.365,1.394c-1.25,0-2.451-0.481-3.413-1.394l-11.104-11.104v81.237c0,2.692-2.163,4.807-4.807,4.807     c-2.644,0-4.807-2.115-4.807-4.807v-81.237l-11.104,11.104C271.839,119.123,268.81,119.123,266.936,117.248z" />
                            </g>
                        </g>
                    </g>
                    <g id="Layer_1" />
                </svg>
            </a>
        </div>
    </div>
</div>