
<div [class]="page">
    <form [class]="pageAdd" [formGroup]="data">
        <div class="div-header-form" *ngIf="!this.data.value.id">
            <h4>Registrar Pregunta</h4>
        </div>
        <div class="div-header-form" *ngIf="this.data.value.id">
            <h4>Editar Pregunta</h4>
        </div>
        <div class="div-first-data">
            <div class="group-div">
                <input class="input id-hide" type="text" name="id" formControlName="id">
                <div class="group-btn">
                    <input class="input" type="text" name="keyword" required placeholder="Identificador" formControlName="keyword">
                    <input class="input" type="text" name="question" required placeholder="Pregunta" formControlName="question">
                </div>
                <div class="div-img">
                    <img *ngIf="imageUrl" [src]="imageUrl" alt="">
                    <img *ngIf="!imageUrl" src="../../../assets/images/brain.jpg" alt="">
                    <div class="file-box">
                        <input type="file" name="file-img" aria-label="Cambiar imagen" (change)="onLoad($event)">
                    </div>
                </div>
            </div>
            <div [class]="divWarning" id="div-warning">
                <label id="warning">{{message}}</label>
            </div>
            <hr class="hr">
            <div class="div-first-data div-btn-answers" formArrayName="options">
                <div *ngFor="let option of options.controls; let i = index" class="div-list-options">
                  <input class="input" [formControlName]="i" placeholder="Respuesta {{ i + 1 }}" />
                </div>
            </div>
            <div class="div-btn div-btn-next div-btn-answers">
                <input class="btn-next btn-prev btn-remove" type="button" value="Eliminar Respuesta" (click)="removeOption()">
                <input class="btn-next btn-add" type="button" value="Agregar Respuesta" (click)="addOption()">
            </div>
            <hr class="hr">
        </div>

        <div class="group-button">
            <div class="div-btn div-btn-next">
                <input class="btn-next btn-prev" type="button" value="Cancelar" (click)="closeModal()">
                <input class="btn-next" type="button" value="Registrar" (click)="sendData()">
            </div>
        </div>
    </form>
</div>