
<div class="div-home page">

    <div class="div-header-form">
        <h2>¡Bienvenido!</h2>
    </div>

    <div class="div-video">
        <iframe class="video" src="https://www.youtube.com/embed/i_TWOuyq8jE"
            title="Psicología del Desarrollo Infantil" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    <div class="div-header-form">
        <h4>Informate</h4>
    </div>
    <div class="div-text-body">
        <p>
            Una plataforma que implementa
            herramientas que facilitan la identificación temprana y el manejo
            adecuado de los problemas de salud mental en el entorno escolar.
        </p>
    </div>

</div>