
<div class="div-about page">
    <div class="div-image-card">
        <img src="../../assets/images/work.png" alt="">
    </div>
    <div class="div-text-card">
        <p> 
            El bienestar mental de los niños ha emergido 
            como un desafío crucial que exige una respuesta inmediata. 
            Los datos alarmantes del DANE revelan que casi la mitad 
            de los niños en el país presentan indicios de problemas de salud mental, 
            una realidad que ha sido intensificada por la pandemia. 
        </p>
        <p>
            Las soluciones tecnológicas diseñadas 
            específicamente para la identificación y el manejo de 
            problemas de salud mental en el entorno escolar se presenta 
            como una necesidad imperante. 
        </p>
        <p>
            Un sistema de monitoreo 
            y apoyo que pueda integrarse en las instituciones educativas 
            no solo permitirá una detección temprana de los problemas 
            de salud mental, sino que también ofrecerá un canal de asistencia 
            continua para los niños que más lo necesitan.
        </p>
    </div>
</div>