
.div-form-add{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(15, 15, 15, 0.6);
}

.page-add{
    animation: login .5s linear 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    width: 50rem;
    height: auto;
    padding: 1.5rem 2rem;
    background-color: rgb(255, 255, 255);
    border: .1rem solid rgb(233, 231, 231);
    border-radius: .2rem;
    box-shadow: .3rem .3rem .3rem rgb(233, 231, 231);
}

.page-out{
    animation: logout 1s linear 0s;
}

.div-first-data{
    margin-top: 1rem;
    width: 100%;
    height: auto;
}

.div-first-data .group-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.div-first-data .group-div .group-btn{
    width: 70%;
    height: 100%;
}

.div-first-data .group-div .div-img {
    width: 30%;
    height: 15rem;
    margin: .5rem 1.5rem;
    border: .2rem solid rgb(204, 163, 88);
}

.div-first-data .group-div .div-img .div-project{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-first-data .group-div .div-img .div-project svg{
    width: 100%;
    height: 70%;
    fill: rgb(204, 163, 88);
}

.div-first-data .group-div .div-img .div-project .div-btn{
    position: relative;
    width: 100%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.div-first-data .group-div .div-img .div-project .div-btn svg{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    fill: #242932;
}

.div-upload{
    width: 50%;
    height: 1.5rem;
}

.div-upload svg{
    position: absolute;
    top: 0;
    left: 0;
    border: .2rem solid #242932;
}

.div-upload:hover svg{
    fill: white;
    border: .2rem solid rgb(204, 163, 88);
}

.div-download{
    position: relative;
    width: 50%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.div-download a{
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}

.div-download a svg{
    border: .2rem solid #242932;
}

.div-download a:hover svg{
    fill: white;
    border: .2rem solid rgb(204, 163, 88);
}

.div-first-data .group-div .div-img .div-project .div-project-image{
    margin: 0;
    margin-top: .4rem;
    padding: 0;
}

.div-first-data .group-div .div-img .div-project .body{
    width: auto;
    margin: .2rem 0 .4rem 0;
    padding: 0;
}

.div-first-data .group-div .div-img .div-project .div-header-form{
    width: 7rem;
    margin: 0;
    overflow: hidden;
}

.div-first-data .group-div .div-img .div-project .div-header-form h4{
    padding: 0;
    font-size: .9rem;
    text-align: center;
}

.div-first-data .group-div .div-img .file-box{
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    cursor: pointer;
    transition: .5s;
    background-size: cover;
}

.div-first-data .group-div .div-img:hover {
    border: .2rem solid #242932;
}

.file-box input[type="file"] {
    z-index: 1;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
}

.div-header-form{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: #242932;
}

.div-header-form h4{
    font-weight: bold;
    color: rgb(51, 51, 51);
    font-size: 1rem;
    padding: 0;
    width: 100%;
    text-align: left;
}

.input{
    width: 100%;
    height: 2.7rem;
    margin: .5rem 0;
    padding: 0 .5rem;
    border: .1rem solid rgb(197, 197, 197);
    border-radius: .2rem;
}

.text-area{
    height: 7rem;
    padding: 1rem .5rem;
}

.id-hide{
    display: none;
}

.hr{
    width: 100%;
    margin: 1rem 0;
    border: .1rem solid rgb(228, 227, 227);
}

.group-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.div-btn{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
    width: inherit;
}

.btn-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2.4rem;
    margin-top: .5rem;
    padding: 0 2rem;
    border: .1rem solid rgb(0, 0, 0);
    background: #242932;;
    color: white;
    font-weight: bold;
    font-size: .8rem;
    border-radius: .2rem;
    text-decoration: none;
    text-align: center;
    transition: .5s;
}

.btn-prev{
    border: .1rem solid rgb(236, 236, 236);
    background: rgb(236, 236, 236);
    color: rgb(158, 158, 158);
    margin-right: 1rem;
}

.btn-next:hover{
    cursor: pointer;
    color: #242932;
    background-color: rgb(204, 163, 88);
    border: .1rem solid rgb(204, 163, 88);
}

.btn-prev:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(204, 163, 88);
    border: .1rem solid rgb(204, 163, 88);
}

.div-warning{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

#warning{
    font-size: .8rem;
    color: red;
}

.show{
    display: flex;
}

.hide{
    display: none;
}
