
<div [class]="page">
    <form [class]="pageAdd" [formGroup]="data">
        <div class="div-header-form">
            <h4>Cambiar Contraseña</h4>
        </div>
        <div class="div-first-data">
            <div class="div-input" *ngIf="own">
                <label for="correo">Contraseña anterior:</label>
                <input class="input" type="password" name="oldPassword" required
                    placeholder="Old Password" formControlName="oldPassword">
            </div>
            <div class="div-input">
                <label for="correo">Contraseña nueva:</label>
                <input class="input" type="password" name="newPassword" required
                    placeholder="New Password" formControlName="newPassword">
            </div>
            <div [class]="divWarning" id="div-warning">
                <label id="warning">{{message}}</label>
            </div>
            <hr class="hr">
        </div>

        <div class="group-button">
            <div class="div-btn div-btn-next">
                <input class="btn-next btn-prev" type="button" value="Cancelar" (click)="closeModal()">
                <input class="btn-next" type="button" value="Registrar" (click)="change()">
            </div>
        </div>
    </form>
</div>