
<div class="div-home page">
    <div class="div-text-card">
        <div class="div-header-form">
            <h2>
                ¿Cómo ayudar en el seguimiento y 
                monitoreo de la salud mental en niños?
            </h2>
        </div>
        <div class="div-text-body">
            <p>
                Integramos tecnologías de detección temprana, 
                monitoreo continuo y coordinación entre padres, educadores 
                y profesionales de la salud mental para mejorar el bienestar de los estudiantes. 
            </p>
        </div>
        <div class="div-button">
            <span>¿Quieres intentarlo?</span>
            <div class="div-btn-anim">
                <div class="div-anim"></div>
                <a type="button" id="btnEnter" (click)="login()">
                    Entrar
                </a>
            </div>
        </div>
    </div>
    <div class="div-image-card">
        <img src="../../assets/images/girl-ai.jpg" alt="">
    </div>
</div>